*{
padding: 0;
margin: 0;
box-sizing: border-box;
} 
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#temperature{
   font-size: 3rem;
   color: orange;
}